@model Credit.System.App.Models.RegisterUserModel;
@using Newtonsoft.Json
@using Platform.Entity.Interfaces;
@using Platform.Entity.ServiceSystem
@using System.Text.Json;

<div class="container">

	<div class="container-fluid px-4">
		<div class="text-end">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">
				<i class="fas fa-user-plus me-2"></i>Adicionar
			</button>
		</div>
		<br />

		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex justify-content-between align-items-center">
				<h6 class="m-0 font-weight-bold text-primary">
					<i class="fas fa-table me-2"></i>Usuários Cadastrados
				</h6>
				<div class="d-flex">
					<div class="input-group me-2">
						<span class="input-group-text bg-light border-0">
							<i class="fas fa-search"></i>
						</span>
						<input type="text" class="form-control border-0 bg-light" id="searchInput" placeholder="Pesquisar...">
					</div>
					<button class="btn btn-light" id="refreshTable">
						<i class="fas fa-sync-alt"></i>
					</button>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table id="datatablesSimple" class="table table-hover">
						<thead class="table-light">
							<tr>
								<th>Nome</th>
								<th>Login</th>
								<th>Email</th>
								<th>Cargo</th>
								<th>Ativo</th>
								<th class="text-end">Ações</th>
							</tr>
						</thead>
						<tbody>
							@foreach (UserViewModel user in Model.Users)
							{
								<tr>
									<td class="align-middle">@user.Name</td>
									<td class="align-middle">@user.Login</td>
									<td class="align-middle">@user.Email</td>
									<td class="align-middle">N/A</td>
									<td class="align-middle">@(user.isActive == true ?  "Sim" : "Não")</td>

									<td class="text-end">
										<div class="btn-group btn-group-sm">
											<button class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" onclick="GetEditUserModal(@JsonConvert.SerializeObject(user))">
												<i class="fas fa-edit"></i>
											</button>
											<button class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Remover" onclick="GetRemoveUserModal(@JsonConvert.SerializeObject(user))">
												<i class="fas fa-trash"></i>
											</button>

											@{
												if (user.isActive)
												{
													<button class="btn btn-success btn-sm" data-bs-toggle="tooltip" onclick="BlockUserAccess('@user.UserId')"data-bs-placement="top" title="Bloquear">
														<i class="fa fa-lock"></i>
													</button>
												}
												else
												{
													<button class="btn btn-success btn-sm" data-bs-toggle="tooltip"  onclick="UnblockUserAccess('@user.UserId')"data-bs-placement="top" title="Desbloquear">
														<i class="fa fa-lock-open"></i>
													</button>
												}
											
											}
										
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">

					<div class="modal-header bg-dark text-white">
						<h5 class="modal-title" id="registerModalLabel">Registrar Usuário</h5>
					</div>

					<div class="modal-body">
						<div class="row g-3">
							<div class="col-md-3">
								<div class="form-floating">
									<input type="text" id="editCpfInput" name="Login" class="form-control"
										   placeholder="000.000.000-00" onfocus="applyCpfMask('editCpfInput')">
									<label for="cpfInput" class="fw-bold">CPF</label>
								</div>
							</div>

							<div class="col-md-5">
								<div class="form-floating">
									<input type="text" id="editNameInput" name="Name" class="form-control" placeholder=" ">
									<label for="nameInput" class="fw-bold">Nome Completo</label>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-floating">
									<input type="email" id="editEmailInput" name="Email" class="form-control" placeholder=" " required>
									<label for="emailInput" class="fw-bold">Email</label>
								</div>
							</div>

							<input type="hidden" id="userId"/>
							<div class="col-md-4">
								<div class="form-floating">
									<select class="form-select" id="roleId">
										<option value="">Selecione</option>
										<option value="">Cobrador</option>
										<option value="">Administrador</option>
									</select>
									<label for="roleId" class="fw-bold">Cargo</label>
								</div>
							</div>

						
						</div>
					</div>

					<div class="modal-footer bg-light">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">
							Cancelar
						</button>
						<button type="submit" onclick="EditUser()" class="btn btn-success">
							Salvar
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					
					<div class="modal-header bg-dark text-white">
						<h5 class="modal-title" id="registerModalLabel">Registrar Usuário</h5>
					</div>

					<div class="modal-body">
						<div class="row g-3">
							<div class="col-md-3">
								<div class="form-floating">
									<input type="text" id="cpfInput" name="Login" class="form-control"
										   placeholder="000.000.000-00" onfocus="applyCpfMask('cpfInput')">
									<label for="cpfInput" class="fw-bold">CPF</label>
								</div>
							</div>

							<div class="col-md-5">
								<div class="form-floating">
									<input type="text" id="nameInput" name="Name" class="form-control" placeholder=" ">
									<label for="nameInput" class="fw-bold">Nome Completo</label>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-floating">
									<input type="email" id="emailInput" name="Email" class="form-control" placeholder=" " required>
									<label for="emailInput" class="fw-bold">Email</label>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-floating">
									<select class="form-select" id="roleId">
										<option value="">Selecione</option>
										<option value="">Cobrador</option>
										<option value="">Administrador</option>
									</select>
									<label for="roleId" class="fw-bold">Cargo</label>
								</div>
							</div>

							@if (Model.CompanyId == 1)
							{
								<div class="col-md-4">
									<div class="form-floating">
										<select class="form-select" id="companyId">
											<option value=""></option>
											@foreach (Company company in Model.CompanyList)
											{
												<option value="@company.CompanyId">@company.PrimaryName</option>
											}
										</select>
										<label for="companyId" class="fw-bold">Empresa</label>
									</div>
								</div>
							}
						</div>
					</div>
				
					<div class="modal-footer bg-light">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">
							Cancelar
						</button>
						<button type="submit" onclick="RegisterNewUser()" class="btn btn-success">
						 Registrar
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="modal fade" id="removeUserModal" tabindex="-1" aria-labelledby="removeUserModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header bg-dark text-white">
						<h5 class="modal-title" id="removeUserModalLabel">Remover Usuário</h5>
						<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>

					<!-- Modal Body -->
					<div class="modal-body">
						<p class="mb-4 text-center"><b>Deseja remover o usuário selecionado?</b></p>

						<div class="d-flex justify-content-end gap-2">
							<button type="button" class="btn btn-danger" data-bs-dismiss="modal">
								Cancelar
							</button>
							<button type="button" onclick="RemoveUser()" class="btn btn-success">
								Sim
							</button>
						</div>
					</div>

					<!-- Modal Footer (Removed redundant buttons) -->
				</div>
			</div>
		</div>
	</div>

</div>

<script src="~/js/User.js"></script>
<script src="~/js/datatables.js"></script>
