@model Credit.System.App.Models.RegisterUserModel;
@using Newtonsoft.Json
@using Platform.Entity.Interfaces;
@using Platform.Entity.ServiceSystem
@using System.Text.Json;

<div class="container" style="">

	<div class="container-fluid px-4">
		<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#registerModal">
			<i class="fas fa-user-plus me-2"></i>Adicionar
		</button>


		<br />
		<br />

		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex justify-content-between align-items-center">
				<h6 class="m-0 font-weight-bold text-primary">
					<i class="fas fa-table me-2"></i>Usuários Cadastrados
				</h6>
				<div class="d-flex">
					<div class="input-group me-2">
						<span class="input-group-text bg-light border-0">
							<i class="fas fa-search"></i>
						</span>
						<input type="text" class="form-control border-0 bg-light" id="searchInput" placeholder="Pesquisar...">
					</div>
					<button class="btn btn-light" id="refreshTable">
						<i class="fas fa-sync-alt"></i>
					</button>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table id="datatablesSimple" class="table table-hover">
						<thead class="table-light">
							<tr>
								<th>Nome</th>
								<th>Login</th>
								<th>Email</th>
								<th>Cargo</th>
								<th class="text-end">Ações</th>
							</tr>
						</thead>
						<tbody>
							@foreach (UserViewModel user in Model.Users)
							{
								<tr>
									<td class="align-middle">@user.Name</td>
									<td class="align-middle">@user.Login</td>
									<td class="align-middle">@user.Email</td>
									<td class="align-middle">N/A</td>

									<td class="text-end">
										<div class="btn-group btn-group-sm">
											<button class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" onclick="GetEditUserModal(@JsonConvert.SerializeObject(user))">
												<i class="fas fa-edit"></i>
											</button>
											<button class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Remover" @* onclick="excluirTitulo(@JsonConvert.SerializeObject(user.UserId) *@">
												<i class="fas fa-trash"></i>
											</button>
											<button class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Acordos" @* onclick="excluirTitulo(@user.UserId) *@">
												<i class="fa fa-lock"></i>
											</button>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center">

		<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header bg-secondary text-white">
						<h5 class="modal-title" id="editModalLabel">Editar Usuário</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<div class="mb-3">
							<label for="cpfInput" class="form-label">CPF</label>
							<input type="text" id="editCpfInput" name="Login" onfocus="applyCpfMask('editCpfInput')" class="form-control">
						</div>

						<div class="mb-3">
							<label for="emailInput" class="form-label">Email</label>
							<input type="email" id="editEmailInput" name="Email" class="form-control"
								   placeholder="seu@email.com" required>
						</div>

						<div class="mb-3">
							<label for="editNameInput" class="form-label">Nome Completo</label>
							<input type="text" id="editNameInput" name="Name" class="form-control">
						</div>

					</div>
				
				</div>
				<div class="modal-footer">
					<div class="d-grid mt-4">
						<button type="submit" onclick="RegisterNewUser()" id="btnRegisterUser" class="btn btn-secondary btn-lg">
							<i class="fas fa-user-plus me-2"></i>Registrar
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<!-- Header -->
					<div class="modal-header bg-dark text-white">
						<h5 class="modal-title" id="registerModalLabel">Registrar Usuário</h5>
					</div>

					<!-- Body -->
					<div class="modal-body">
						<div class="row g-3">
							<!-- Added gutter spacing (g-3) -->
							<!-- Column 1 -->
							<div class="col-md-3">
								<div class="form-floating">
									<!-- Better input styling -->
									<input type="text" id="cpfInput" name="Login" class="form-control"
										   placeholder="000.000.000-00" onfocus="applyCpfMask('cpfInput')">
									<label for="cpfInput" class="fw-bold">CPF</label>
								</div>
							</div>

							<!-- Column 2 -->
							<div class="col-md-5">
								<div class="form-floating">
									<input type="text" id="nameInput" name="Name" class="form-control" placeholder=" ">
									<label for="nameInput" class="fw-bold">Nome Completo</label>
								</div>
							</div>

							<!-- Column 3 -->
							<div class="col-md-4">
								<div class="form-floating">
									<input type="email" id="emailInput" name="Email" class="form-control" placeholder=" " required>
									<label for="emailInput" class="fw-bold">Email</label>
									<div class="invalid-feedback">Por favor, insira um email válido.</div>
								</div>
							</div>

							<!-- Column 4 -->
							<div class="col-md-4">
								<div class="form-floating">
									<select class="form-select" id="roleId">
										<option value="">Selecione</option>
										<option value="">Cobrador</option>
										<option value="">Administrador</option>
										<!-- Options here -->
									</select>
									<label for="roleId" class="fw-bold">Cargo</label>
								</div>
							</div>

							@if (Model.CompanyId == 1)
							{
								<!-- Column 5 -->
								<div class="col-md-4">
									<div class="form-floating">
										<select class="form-select" id="companyId">
											<option value=""></option>
											@foreach (Company company in Model.CompanyList)
											{
												<option value="@company.CompanyId">@company.PrimaryName</option>
											}
										</select>
										<label for="companyId" class="fw-bold">Empresa</label>
									</div>
								</div>
							}
						</div>
					</div>

					<!-- CORRECT FOOTER PLACEMENT -->
					<div class="modal-footer bg-light">
						<!-- Light background for contrast -->
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">
							Cancelar
						</button>
						<button type="submit" onclick="RegisterNewUser()" class="btn btn-success">
						 Registrar
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>



</div>




<script src="~/js/User.js"></script>
<script src="~/js/datatables.js"></script>
@* <script src="~/js/datatables-simple-demo.js"></script> *@